<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>爱暮雪</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="imsnow">
		<meta name="description" content="imsnow">
		<meta name="author" content="spring">
		<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/common.css"/>
		<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}blog/css/article_info.css"/>
	</head>
	<body>
		<div id="header">
			<div class="container">
				<a class="logo" href="/blog/">我想我是雪</a>
			</div>
		</div>
		<div id="main">
			<div class="container">
				<h2 class="title"></h2>
				<div class="content"></div>
			</div>
		</div>
		<script type="text/javascript" src="{{STATIC_URL}}js/extra/jquery.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/snow/snow_sdk.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}blog/js/article_info.js"></script>
	</body>
</html>