html,body{width:100%;height:100%;color:#5e5e5e;}
#band{position:relative;height:100%;background-color:black;overflow:hidden;}
#band .band-bg{position:absolute;top:0;right:0;left:0;bottom:0;display:none;}
#band .band-wrap{position:absolute;bottom:2%;right:10%;opacity:0;}
#band h1{color:#C9C9C9;}